@media (max-width: 1600px) {
  .slick-prev {
    left: 25px;
  }

  .slick-next {
    right: 25px;
  }
}

@media (max-width: 1100px) {
  .main,
  .about,
  .reviews,
  .contacts {
    padding: 150px 0;
    height: 100%;
  }

  .main {
    padding: 0px;
  }

  .header {
    padding: 0 30px;
  }

  .main-title .title {
    font-size: 40px;
  }

  .header-logo img {
    max-width: 150px;
    width: 100%;
  }

  .about-left-img {
    width: 0;
  }

  .about-content {
    margin: 0 auto;
    max-width: 100%;
  }

  .contacts-bg {
    width: 0;
  }

  .contacts-content {
    width: 100%;
    margin-left: 0;
    padding: 0 15px;
  }

  .contacts-content .title span {
    display: inline-block;
  }

  .title,
  .contacts-content__list,
  .contacts-content__buttons {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .main,
  .about,
  .reviews,
  .contacts {
    height: 100vh;
  }
  .about-content-smallText {
    font-size: 1rem;
  }
  .header {
    position: absolute;
  }
  .header-menu li + li {
    margin-left: 10px;
  }

  .main-title .title {
    font-size: 30px;
  }

  .main-title .main-descr {
    font-size: 18px;
  }

  .main-title {
    margin-left: 0;
    text-align: center;
  }

  .main-btn {
    text-align: center;
    margin-right: 0px;
    font-weight: 300;
  }

  .title {
    font-size: 32px;
    line-height: 42px;
  }

  .about-content-item {
    margin: 10px 0;
  }

  .about-content-list {
    margin-top: 10px;
  }

  .about-content-list li {
    font-size: 18px;
    line-height: 26px;
    padding-left: 35px;
  }

  .about-content-list li::before {
    background-size: 70%;
  }
}

@media (max-width: 490px) {
  .main-title .title {
    margin-top: 70px;
    font-size: 32px;
  }

  .main-title .main-descr {
    font-size: 18px;
    margin-top: 10px;
  }
  .main-btn {
    margin-top: 40px;
  }
  .btn {
    padding: 10px;
    font-size: 14px;
  }

  .header-top {
    justify-content: center;
    flex-direction: column;
  }

  .header-logo img {
    margin-bottom: 10px;
  }

  .header-menu__link {
    font-size: 14px;
  }

  .about-content__btn + .about-content__btn {
    margin-left: 10px;
  }

  .contacts-content__list {
    font-size: 18px;
  }

  .contacts-content__phone img {
    padding-left: 5px;
    width: 20px;
  }

  .contacts-content__mail::before,
  .contacts-content__phone::before,
  .contacts-content__skype::before {
    background-size: 65%;
  }

  .contacts-content__mail,
  .contacts-content__phone,
  .contacts-content__skype {
    background-size: 65%;
  }

  .contacts-content__buttons {
    svg {
      width: 20px;
    }
  }

  .contacts-content__btn {
    width: 35px;
    height: 35px;
  }

  .contacts-content__btn:nth-child(1)::before,
  .contacts-content__btn:nth-child(2)::before {
    left: 50px;
  }

  .contacts-content__buttons {
    width: 260px;
  }

  .footer a {
    display: block;
  }

  .contacts-content__btn {
    margin-top: 20px;
  }

  .contacts-content {
    padding: 0 5px;
  }

  .reviews-slider {
    padding: 0 40px;
  }
}

@media (max-width: 400px) {
  .about-content__buttons {
    justify-content: center;
  }

  .about-content__btn:nth-child(3)::before {
    content: "";
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .reviews-slider {
    padding: 0 10px;
  }
}
